Repository reinout91/papas-lamp: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, black, isort, mypy, bandit, safety

autoflake:
  name: autoflake
  entry: poetry run autoflake
  language: system

black:
  name: black
  language: system
  entry: poetry run black

isort:
  name: isort
  language: system
  entry: poetry run isort

mypy:
  name: mypy
  language: system
  entry: poetry run mypy

bandit:
  name: bandit
  entry: poetry run bandit -c pyproject.toml
  language: system

safety:
  name: safety
  entry: bash -c "poetry run pip freeze | poetry run safety check --stdin"
  language: system
  pass_filenames: false

puntje toevoegene
  src/polygons_hinge.py
Due: autoflake, black, isort, mypy, bandit, safety

fixes
  poetry.lock
  pyproject.toml
  src/polygons_hinge.py
Due: autoflake, black, isort, mypy, bandit, safety

fix
  src/polygons_hinge.py
Due: autoflake, black, isort, mypy, bandit, safety

blah
  src/Try_out_stuff.py
  src/hinge_lever.py
  src/lamp_base.py
  src/leaf.py
  src/outer_ring_with_slider.py
Due: autoflake, black, isort, mypy, bandit, safety

add nix
  .direnv/bin/nix-direnv-reload
  .envrc_example
  .gitignore
  README.md
  default.nix
  papas-lamp/Upolygons_hinges_2.py
  papas-lamp/__init__.py
  papas-lamp/__main__.py
  poetry.lock
  pyproject.toml
  shell-python.nix
  src/Upolygons_hinges_2.py
Due: autoflake, black, isort, mypy, bandit, safety

fixed project
  hinge_lever.step
  poetry.lock
  pyproject.toml
Due: none

hhh
  pyproject.toml
Due: none

setup linting
  .pre-commit-config.yaml
  pyproject.toml
Due: none

update lock
  poetry.lock
Due: none

upgraded poetry
  .direnv/bin/nix-direnv-reload
  hinge_lever.step
  poetry.lock
  pyproject.toml
  shell-python.nix
Due: none

updates
  hinge_lever.step
  poetry.lock
  pyproject.toml
Due: none

new approach
  hinge_lever.step
  papas-lamp/hinge_lever.py
Due: autoflake, black, isort, bandit, safety

fixes
  hinge_lever.step
  papas-lamp/hinge_lever.py
Due: autoflake, black, isort, bandit, safety

use hole instead of cylinder
  papas-lamp/hinge_lever.py
Due: autoflake, black, isort, bandit, safety

ideal vertical gap
  hinge_lever.step
  papas-lamp/hinge_lever.py
Due: autoflake, black, isort, bandit, safety

improve part names
  hinge_lever.step
  papas-lamp/hinge_lever.py
Due: autoflake, black, isort, bandit, safety

improve hinge (#1)
  hinge_lever.step
  papas-lamp/hinge_lever.py
Due: autoflake, black, isort, bandit, safety

fix dimensions to printable, remove blocking base
  papas-lamp/lamp_base.py
Due: autoflake, black, isort, bandit, safety

update gitignore
  .gitignore
Due: none

update gitignore
  .direnv/bin/nix-direnv-reload
Due: none

remove step file from git
  hinge_lever.step
Due: none

add thread
  papas-lamp/hexacon_pin.py
  papas-lamp/lamp_base.py
Due: autoflake, black, isort, bandit, safety

Fix lamp base (#3)
  papas-lamp/hexacon_pin.py
  papas-lamp/lamp_base.py
Due: autoflake, black, isort, bandit, safety

axle
  papas-lamp/hexacon_pin.py
Due: autoflake, black, isort, bandit, safety

Add free rotating nut to pin
  papas-lamp/hexacon_pin.py
Due: autoflake, black, isort, bandit, safety

add the 7 fingers to the nut
  papas-lamp/hexacon_pin.py
Due: autoflake, black, isort, bandit, safety

Improve code and versions
  papas-lamp/hexacon_pin.py
  poetry.lock
  pyproject.toml
  shell-python.nix
Due: autoflake, black, isort, bandit, safety

cleanup
  papas-lamp/hexacon_pin.py
  papas-lamp/hinge_lever.py
Due: autoflake, black, isort, bandit, safety

improved angles of hinge
  papas-lamp/hinge_lever.py
Due: autoflake, black, isort, bandit, safety

refactor t_hinge
  papas-lamp/hinge_lever.py
Due: autoflake, black, isort, bandit, safety

Better build, but many hardcoded
  papas-lamp/hinge_lever.py
Due: autoflake, black, isort, bandit, safety

fix
  papas-lamp/hinge_lever.py
Due: autoflake, black, isort, bandit, safety

improve shackle
  papas-lamp/hinge_lever.py
Due: autoflake, black, isort, bandit, safety

Add axle (#4)
  papas-lamp/hexacon_pin.py
  papas-lamp/hinge_lever.py
  poetry.lock
  pyproject.toml
  shell-python.nix
Due: autoflake, black, isort, bandit, safety

add - dovetail
  papas-lamp/hinge_lever.py
Due: autoflake, black, isort, bandit, safety

add - dovetail (#5)
  papas-lamp/hinge_lever.py
Due: autoflake, black, isort, bandit, safety

make assy, no joint locations at part level,only at assy level. several package upgrades
  default.nix
  papas-lamp/assy.py
  papas-lamp/face_outward_inward.py
  papas-lamp/hinge_lever.py
  papas-lamp/leaf.py
  papas-lamp/simple_t.py
  poetry.lock
  pyproject.toml
Due: autoflake, black, isort, bandit, safety

make assy, no joint locations at part level,only at assy level. several package upgrades (#6)
  default.nix
  papas-lamp/assy.py
  papas-lamp/face_outward_inward.py
  papas-lamp/hinge_lever.py
  papas-lamp/leaf.py
  papas-lamp/simple_t.py
  poetry.lock
  pyproject.toml
Due: autoflake, black, isort, bandit, safety

Path conditions:
  autoflake: any of: \.py$
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: ^(src|test)/ and \.py$
  bandit: any of: \.py$
  safety: any of: \.py$
